%footer.footer.purple-background.text-light
  .container
    %br/
    .row
      .col-lg-4
        = link_to t('navigation.home'), root_path, class: "#{'active font-weight-bold' if current_page?(root_path)}"
        %br/
        = mail_to 'cpl.km.ua@gmail.com' do
          .fa.fa-envelope
        = link_to "#", target: :_blank do
          .fab.fa-twitter
        = link_to "#", target: :_blank do
          .fab.fa-instagram
        = link_to "https://github.com/Turzhanskyi", target: :_blank do
          .fab.fa-github
      .col-md-4
        .row
        = link_to 'Teach on e-learn', new_course_path, class: "#{'active font-weight-bold' if current_page?(new_course_path)}"
        .row
        About
        .row
        = link_to 'Privacy', privacy_policy_path, class: "#{'active font-weight-bold' if current_page?(privacy_policy_path)}"
        .row
        Help and Support
      .col-md-4
        Copyright
        ©
        = Time.now.year
        %br/
        = link_to 'e-learn-turvitan', root_path, class: "#{'active font-weight-bold' if current_page?(root_path)}"
        Sp. z o.o.
        .row
    %br/
